# OS-specific
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear
*.log

# R documentation and workspace
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rapp.history

# IDEs
.vscode/
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.nbproject/
